.checkout_nav_body_container{
    width: 100vw;
    padding: 0.5%;
    background-color: #0059AA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70vw;
}
.checkout_nav_link{
    font-size: 2rem;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
.cart_img{
    width: 4rem;
    height: auto;
}
.logo_img{
    width: 5rem;
}